<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>雪花&表情</title>
    <link rel="stylesheet" href="${ctxPath}/assets/css/snowy.css"/>
    <style>
        body {
            background-image: url("assets/images/bg-login.jpg");        /*背景*/
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 100vh;

        }
    </style>
</head>
<body>
    <div class="snow-container"></div>
</body>
<script type="text/javascript" src="${ctxPath}/assets/js/jquery-1.12.4.js"></script>
<script type="text/javascript" src="${ctxPath}/assets/js/snowy.js"></script>
<!--<script type="text/javascript" src="${ctxPath}/assets/js/bq.js"></script>-->
