<!DOCTYPE html>
<html>

<head>
    <:include file="../common/css.html" title="学生信息管理"/>
</head>

<body>
<div class="layui-card">
    <div class="layui-card-body">
        <!-- 表格工具栏 -->
        <form class="layui-form toolbar">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">学生ID:</label>
                    <div class="layui-input-inline">
                        <input name="id" class="layui-input" placeholder="输入学生ID"/>
                    </div>
                </div>
                <div class="layui-inline">&emsp;
                    <button class="layui-btn icon-btn" lay-filter="studentInfoTableSearch" lay-submit>
                        <i class="layui-icon">&#xe615;</i>搜索
                    </button>
                </div>
            </div>
        </form>
        <!-- 数据表格 -->
        <table id="studentInfoTable" lay-filter="studentInfoTable"></table>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="studentInfoTbBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" data-dropdown="#studentInfoTbDelDrop{{d.LAY_INDEX}}"
       no-shade="true">删除</a>
    <div class="dropdown-menu-nav dropdown-popconfirm dropdown-top-right layui-hide"
         id="studentInfoTbDelDrop{{d.LAY_INDEX}}"
         style="max-width: 300px;white-space: normal;min-width: auto;margin-left: 10px;">
        <div class="dropdown-anchor"></div>
        <div class="dropdown-popconfirm-title">
            <i class="layui-icon layui-icon-help"></i> 确定要删除序号【{{d.id}}】吗？
        </div>
        <div class="dropdown-popconfirm-btn">
            <a class="layui-btn" btn-cancel>取消</a>
            <a class="layui-btn layui-btn-normal" lay-event="del">确定</a>
        </div>
    </div>
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="studentInfoEditDialog">
    <form id="studentInfoEditForm" lay-filter="studentInfoEditForm" class="layui-form model-form">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">学生编号:</label>
            <div class="layui-input-block">
                <input name="studentNo" placeholder="请输入学生编号" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">学生姓名:</label>
            <div class="layui-input-block">
                <input name="studentName" placeholder="请输入学生姓名" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">学生性别:</label>
            <div class="layui-input-block">
                <input name="studentSex" type="radio" value="男" title="男" checked/>
                <input name="studentSex" type="radio" value="女" title="女"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">学生专业:</label>
            <div class="layui-input-block">
                <!--<input name="studentSkill" placeholder="请输入学生专业" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>-->
                <select name="studentSkill">
                    <option value="">请选择</option>
                    <option value="Java">Java</option>
                    <option value="C#">C#</option>
                    <option value="C">C</option>
                    <option value="GO">GO</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">学生爱好:</label>
            <div class="layui-input-block">
                <input name="studentLoves" placeholder="请输入学生爱好" class="layui-input"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出生日期:</label>
            <div class="layui-input-inline">
                <input name="studentBornDate" class="layui-input icon-date" placeholder="选择日期范围"
                       autocomplete="off"/>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn" lay-filter="studentInfoEditSubmit" lay-submit>保存</button>
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        </div>
    </form>
</script>
<:include file="../common/js.html"/>
<script>
    layui.use(['layer', 'form', 'table', 'tableX', 'util', 'admin', 'dropdown', 'zTree','laydate'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var tableX = layui.tableX;
        var util = layui.util;
        var admin = layui.admin;
        var laydate = layui.laydate;

        /* 渲染表格 */
        var insTb = tableX.render({
            elem: '#studentInfoTable',
            url: 'studentInfo/page',
            page: true,
            height: 'full-100',
            toolbar: ['<p>',
                '<button lay-event="add" class="layui-btn layui-btn-sm icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>&nbsp;',
                '<button lay-event="del" class="layui-btn layui-btn-sm layui-btn-danger icon-btn"><i class="layui-icon">&#xe640;</i>删除</button>',
                '</p>'].join(''),
            cellMinWidth: 100,
            cols: [[
                {type: 'checkbox'},
               /* {type: 'numbers'},*/
                {field: 'id', title: '学生序列号', sort: true},
                {field: 'studentNo', title: '学生编号', sort: true},
                {field: 'studentName', title: '学生姓名', sort: true},
                {field: 'studentSex', title: '学生姓名', sort: true},
                {field: 'studentSkill', title: '学生专业', sort: true},
                {field: 'studentLoves', title: '学生爱好', sort: true},
                {field: 'studentBornDate', title: '学生出生日期', sort: true,
                    templet: "<div>{{layui.util.toDateString(d.studentBornDate, 'yyyy-MM-dd')}}</div>"
                },
                {title: '操作', toolbar: '#studentInfoTbBar', align: 'center', width: 200, minWidth: 200}
            ]]
        });

        /* 表格搜索 */
        form.on('submit(studentInfoTableSearch)', function (data) {
            insTb.reload({where: data.field, page: {curr: 1}});
            //alert(JSON.stringify(data.field));
            return false;
        });

        /* 表格头工具栏点击事件 */
        table.on('toolbar(studentInfoTable)', function (obj) {
            if ('add' === obj.event) { // 添加
                //alert("添加");
                showEditModel();
            } else if ('del' === obj.event) { // 删除
                var checkRows = table.checkStatus('studentInfoTable');
                if (0 === checkRows.data.length) {
                    return layer.msg('请选择要删除的数据', {icon: 2, anim: 6});
                }
                var ids = checkRows.data.map(function (d) {
                    return d.id;
                });
                doDel({ids: ids});
            }
        });

        /* 表格工具条点击事件 */
        table.on('tool(studentInfoTable)', function (obj) {
            //alert("点击了");
            if ('edit' === obj.event) { // 修改
                showEditModel(obj.data);
                //alert("修改");
            } else if ('del' === obj.event) { // 删除
                //alert("删除");
                doDel(obj);
            }
        });

        /* 删除 */
        function doDel(obj) {
            if (obj.ids) {  // 批量删除
                admin.confirm('确定要删除选中数据吗？', function (i) {
                    layer.close(i);
                    var loadIndex = layer.load(2);
                    admin.req('studentInfo/removeBatch', JSON.stringify(obj.ids), function (res) {
                        layer.close(loadIndex);
                        if (0 === res.code) {
                            layer.msg(res.msg, {icon: 1});
                            insTb.reload({page: {curr: 1}});
                        } else {
                            layer.msg(res.msg, {icon: 2, anim: 6});
                        }
                    }, 'post');
                });
            } else {  // 单个删除
                var loadIndex = layer.load(2);
                $.get('studentInfo/remove', {id: obj.data.id}, function (res) {
                    layer.close(loadIndex);
                    if (0 === res.code) {
                        layer.msg(res.msg, {icon: 1});
                        insTb.reload({page: {curr: 1}});
                    } else {
                        layer.msg(res.msg, {icon: 2, anim: 6});
                    }
                });
            }
        }

        /* 显示表单弹窗 */
        function showEditModel(mData) {
            admin.open({
                type: 1,
                title: (mData ? '修改' : '添加') + '学生信息',
                content: $('#studentInfoEditDialog').html(),
                success: function (layero, dIndex) {
                    //弹出框中显示时间取值范围
                    laydate.render({
                        elem: 'input[name="studentBornDate"]',
                        type: 'date',
                        range: false,
                        trigger: 'click'
                    });
                    //mData.studentBornDate = "";
                    // 回显表单数据
                    if(mData==undefined){
                        mData = ""; //防止报错,导致弹出框无法关闭
                    }else{
                        mData.studentBornDate = layui.util.toDateString(mData.studentBornDate, 'yyyy-MM-dd');
                    }
                    if($('input[name="studentSex"]').val()=='女'){
                        this.click();
                    }
                    form.val('studentInfoEditForm', mData);

                    //alert(JSON.stringify(mData));
                    // 表单提交事件
                    form.on('submit(studentInfoEditSubmit)', function (data) {

                        /*alert(JSON.stringify(data));*/
                        var loadIndex = layer.load(2);

                        $.post(mData ? 'studentInfo/update' : 'studentInfo/save', data.field, function (res) {
                            /*alert(JSON.stringify(data.field));
                            alert(JSON.stringify(res));
                            alert(JSON.stringify(mData));
                            alert("success");*/
                            layer.close(loadIndex);
                            if (0 === res.code) {
                                layer.close(dIndex);
                                layer.msg(res.msg, {icon: 1});
                                insTb.reload({page: {curr: 1}});
                            } else {
                                layer.msg(res.msg, {icon: 2, anim: 6});
                            }
                        });
                        return false;
                    });
                }
            });
        }


    });


</script>
</body>

</html>